


.explanation-block {
        background-color: rgba(#aaa, .2);
        padding: .5em .55em;
        font-size: 0.8125rem; /* 13px */
        line-height: 1;
        border-radius: 5px;
        border-bottom-right-radius: 5px;
        width: auto;
        float: right;
        position: absolute;
        top: -.1em;
        right: .1em;
}

