@import '../../../../common/styles/variables.scss';

$breakpoint--viz: 800px;

#global-vis {
	width: 100%;
	height: 100%;
}

.global-vis {
	@media all and (max-width: $breakpoint--viz) {
		display: none;
	}

	@media all and (min-width: $breakpoint--viz) {
		width: 100%;
	}
}
