
	<svg class="visualization global-vis" id="global-vis">
		<marker id="requisiteMarker" viewBox="0 -5 10 10" refX="40" refY="0" markerUnits="userSpaceOnUse" orient="auto" markerWidth="10" markerHeight="9" stroke="context-stroke">
			<path class="marker-path" d="M0,-5L10,0L0,5" fill="#999"></path> 
		</marker>
	</svg>
	<loading-text class="loading-text--on-svg" ng-show="!nodes || !edges || !isD3Loaded"></loading-text>
	<div class="min-screen-message columns">
		<p>Enlarge your browser window and refresh the page to see the visualization.</p>	
	</div>
