/* line 13, ../../styles/typography.scss */
html {
  font-size: 87.5%;
}

/* line 17, ../../styles/typography.scss */
body {
  color: #3f474e;
  font-size: 1rem;
  font-family: "ff-dagny-web-pro";
  text-rendering: optimizeLegibility;
}

/* line 24, ../../styles/typography.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  font-family: "ff-dagny-web-pro";
}

/* line 31, ../../styles/typography.scss */
p, label, .normal, .p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* line 38, ../../styles/typography.scss */
p.heading--bordered {
  line-height: 1.43em;
  border-bottom: 1px solid #eaecee;
}

/* line 43, ../../styles/typography.scss */
.small, .button.small {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.8462em;
  /* 24px */
  margin-bottom: 1.8462em;
}

/* line 50, ../../styles/typography.scss */
.large {
  font-size: 1.2500rem;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 1.2000em;
  margin-bottom: 1.2000em;
}

/* line 57, ../../styles/typography.scss */
h6, .h6 {
  font-size: 1.2500rem;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 0;
  margin-bottom: 1.2000em;
}

/* line 65, ../../styles/typography.scss */
h6.heading--bordered {
  line-height: 1.4em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eaecee;
}

/* line 71, ../../styles/typography.scss */
h6.heading--bordered.small {
  line-height: 2.33em;
  border-bottom: 1px solid #eaecee;
}

/* line 77, ../../styles/typography.scss */
h5, .h5 {
  font-size: 1.5625rem;
  /* 25px */
  line-height: 1.9200em;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0.9600em;
}

/* line 84, ../../styles/typography.scss */
h4, .h4 {
  font-size: 1.9375rem;
  /* 31px */
  line-height: 1.5484em;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0.7742em;
}

/* line 91, ../../styles/typography.scss */
h4.heading--bordered {
  line-height: 1.4784em;
  border-bottom: 1px solid #eaecee;
}

/* line 96, ../../styles/typography.scss */
h3, .h3 {
  font-size: 2.4375rem;
  /* 39px */
  line-height: 1.2308em;
  /* 48px */
  margin-top: 0.6154em;
  margin-bottom: 0.6154em;
}

/* line 103, ../../styles/typography.scss */
h2, .h2 {
  font-size: 3.0625rem;
  /* 49px */
  line-height: 1.4694em;
  /* 72px */
  margin-top: 0.4898em;
  margin-bottom: 0.4898em;
}

/* line 110, ../../styles/typography.scss */
h1 {
  font-size: 3.8125rem;
  /* 61px */
  line-height: 1.1803em;
  /* 72px */
  margin-top: 0.3934em;
  margin-bottom: 0.3934em;
}

/* line 118, ../../styles/typography.scss */
ul, ol {
  margin: 0;
}

/* line 131, ../../styles/typography.scss */
a, .link {
  cursor: pointer;
  color: #a31f34;
  text-decoration: none;
  line-height: 1.3em;
}

/* line 139, ../../styles/typography.scss */
a.small, a.button.small {
  line-height: 1.2em;
}

/* line 143, ../../styles/typography.scss */
a:hover, a:visited:hover {
  color: #c03c50;
  text-decoration: underline;
}

/* line 148, ../../styles/typography.scss */
a:visited {
  color: #811829;
}

/* line 152, ../../styles/typography.scss */
a:focus {
  outline: none;
}

/* line 156, ../../styles/typography.scss */
i, .italic {
  font-style: italic;
}

/* line 160, ../../styles/typography.scss */
.muted {
  color: #62717d;
}

/* line 164, ../../styles/typography.scss */
.muted-tint-1 {
  color: #85939f;
}

/* line 168, ../../styles/typography.scss */
.emphasis {
  color: #a31f34;
  color: #8a8b8c;
  color: #c03c50;
}

/* line 174, ../../styles/typography.scss */
.warning {
  color: #c03c50;
}

/* line 179, ../../styles/typography.scss */
.bold, .warning {
  font-weight: 600;
}

/* line 184, ../../styles/typography.scss */
.text-left {
  text-align: left;
}

/* line 188, ../../styles/typography.scss */
.text-right {
  text-align: right;
}

/* line 192, ../../styles/typography.scss */
.text-center {
  text-align: center;
}

/* line 197, ../../styles/typography.scss */
.five-section-heading {
  margin-bottom: 1.100em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecee;
}

/* line 203, ../../styles/typography.scss */
.five-section-heading__heading {
  margin-bottom: 0;
}

/* line 4, ../../styles/buttons.scss */
.button {
  display: block;
  width: 100%;
  padding-top: 0.361rem;
  padding-bottom: 0.361rem;
  background-image: none;
  border: 1px solid white;
  border-radius: 0;
  cursor: pointer;
  padding-left: .9375em;
  padding-right: .9375em;
  margin: 0;
  min-width: 33px !important;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 25, ../../styles/buttons.scss */
.button:focus {
  outline: none;
}

/* line 29, ../../styles/buttons.scss */
.button.disabled, .button[disabled], .button.disabled:hover, .button[disabled]:hover {
  color: #96a0aa;
  background-color: #f2f0e6;
  cursor: default;
}

/* line 35, ../../styles/buttons.scss */
.button--delete {
  color: #a31f34;
  background-color: transparent;
  border: none;
}

/* line 41, ../../styles/buttons.scss */
.button--delete:hover {
  color: #c03c50;
}

/* line 45, ../../styles/buttons.scss */
.button--add {
  background: transparent;
  color: #a31f34;
  font-size: .7125rem;
  font-weight: 600;
}

/* line 52, ../../styles/buttons.scss */
.button--add:hover {
  color: #c03c50;
}

/* line 56, ../../styles/buttons.scss */
.icon--search {
  background-image: url("/images/search.svg#search");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 1rem;
  height: 1.5em;
  min-width: 33px;
}

/* line 66, ../../styles/buttons.scss */
.button--menu {
  background: transparent;
  border: none;
  padding: 0;
  font-weight: 600;
  color: #a31f34;
}

/* line 74, ../../styles/buttons.scss */
.button--menu:hover {
  color: #c03c50;
}

/* line 78, ../../styles/buttons.scss */
.button--default {
  color: #798793;
  background-color: white;
  border-color: #f2f0e6;
}

/* line 84, ../../styles/buttons.scss */
.button--default:hover {
  color: #3f474e;
}

/* line 88, ../../styles/buttons.scss */
.button--warning {
  color: #e16175;
  border-color: #e16175;
  background-color: white;
}

/* line 94, ../../styles/buttons.scss */
.button--warning:hover {
  color: #a31f34;
  border-color: #a31f34;
}

/* line 99, ../../styles/buttons.scss */
.button--link {
  cursor: pointer;
  color: #a31f34;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  background: transparent;
  padding: 0;
}

/* line 110, ../../styles/buttons.scss */
.button--link:hover {
  color: #c03c50;
}

/* line 115, ../../styles/buttons.scss */
.button-bar {
  display: flex;
  margin-bottom: 1.5rem;
}

/* line 120, ../../styles/buttons.scss */
.button-bar__button {
  border-radius: 0;
  display: block;
  margin: 0;
  border-right: 0;
}

/* line 127, ../../styles/buttons.scss */
.button-bar__button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #c0c6cc;
}

/* line 133, ../../styles/buttons.scss */
.button-bar__button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 139, ../../styles/buttons.scss */
.tab-bar {
  width: 100%;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #a31f34;
}

/* line 146, ../../styles/buttons.scss */
a.tab-bar__tab {
  position: relative;
  margin: 0 .5em 7px 0;
  padding: .8em .9375em .4em .9375em;
  border-radius: 0;
  /*
  	border-top: 2px solid $background-secondary-tint-2;
  	border-left: 2px solid $background-secondary-tint-2;
  	border-right: 2px solid $background-secondary-tint-2;
  */
  color: rgba(63, 71, 78, 0.5);
  border-top: 2px solid #a31f34;
  border-left: 2px solid #a31f34;
  border-right: 2px solid #a31f34;
  border-bottom: none;
  border-color: rgba(163, 31, 52, 0.1);
  transition: all .3s ease;
}

/* line 167, ../../styles/buttons.scss */
a.tab-bar__tab:visited {
  color: #3f474e;
}

/* line 171, ../../styles/buttons.scss */
.tab-bar__tab:hover {
  opacity: 1;
  color: #3f474e;
}

/* line 176, ../../styles/buttons.scss */
.tab-bar__tab.js-selected {
  opacity: 1;
  color: #3f474e;
  border-color: #a31f34;
}

/* line 182, ../../styles/buttons.scss */
.tab-bar__tab.is-disabled, .tab-bar__tab.is-disabled:hover {
  text-decoration: none;
  cursor: default;
  border-color: #c2c0bf;
  background: rgba(194, 192, 191, 0.8);
  color: #8a8b8c;
}

/* line 192, ../../styles/buttons.scss */
.feedback-button {
  position: relative;
}

/* line 196, ../../styles/buttons.scss */
.feedback-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 0;
  transition: width 5s ease-in-out;
}

/* line 207, ../../styles/buttons.scss */
.feedback-button.js-success:before {
  transition: none;
}

/* line 211, ../../styles/buttons.scss */
.feedback-button.js-success:after {
  content: '\02713';
  padding-left: 1em;
}

/* line 216, ../../styles/buttons.scss */
.feedback-button.js-success, .feedback-button.js-success:hover {
  background-color: #7bcb5d;
  color: #f2f0e6;
}

/* line 221, ../../styles/buttons.scss */
.feedback-button.js-in-progress:before {
  width: 100%;
}

/* line 225, ../../styles/buttons.scss */
.button__icon {
  width: 100%;
  height: 100%;
  pointer-events: all;
}

/* line 231, ../../styles/buttons.scss */
.button .button__icon:hover {
  color: #c03c50;
}

/* line 235, ../../styles/buttons.scss */
.favicon {
  max-width: 1.4em;
}
