/* line 13, ../../styles/typography.scss */
html {
  font-size: 87.5%;
}

/* line 17, ../../styles/typography.scss */
body {
  color: #3f474e;
  font-size: 1rem;
  font-family: "ff-dagny-web-pro";
  text-rendering: optimizeLegibility;
}

/* line 24, ../../styles/typography.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .contenteditable.h4, .h5, .h6 {
  font-weight: 400;
  font-family: "ff-dagny-web-pro";
}

/* line 31, ../../styles/typography.scss */
p, label, .normal, .p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* line 38, ../../styles/typography.scss */
p.heading--bordered {
  line-height: 1.43em;
  border-bottom: 1px solid #eaecee;
}

/* line 43, ../../styles/typography.scss */
.small, input.small {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.8462em;
  /* 24px */
  margin-bottom: 1.8462em;
}

/* line 50, ../../styles/typography.scss */
.large {
  font-size: 1.2500rem;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 1.2000em;
  margin-bottom: 1.2000em;
}

/* line 57, ../../styles/typography.scss */
h6, .h6 {
  font-size: 1.2500rem;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 0;
  margin-bottom: 1.2000em;
}

/* line 65, ../../styles/typography.scss */
h6.heading--bordered {
  line-height: 1.4em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eaecee;
}

/* line 71, ../../styles/typography.scss */
h6.heading--bordered.small {
  line-height: 2.33em;
  border-bottom: 1px solid #eaecee;
}

/* line 77, ../../styles/typography.scss */
h5, .h5 {
  font-size: 1.5625rem;
  /* 25px */
  line-height: 1.9200em;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0.9600em;
}

/* line 84, ../../styles/typography.scss */
h4, .h4, .contenteditable.h4 {
  font-size: 1.9375rem;
  /* 31px */
  line-height: 1.5484em;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0.7742em;
}

/* line 91, ../../styles/typography.scss */
h4.heading--bordered {
  line-height: 1.4784em;
  border-bottom: 1px solid #eaecee;
}

/* line 96, ../../styles/typography.scss */
h3, .h3 {
  font-size: 2.4375rem;
  /* 39px */
  line-height: 1.2308em;
  /* 48px */
  margin-top: 0.6154em;
  margin-bottom: 0.6154em;
}

/* line 103, ../../styles/typography.scss */
h2, .h2 {
  font-size: 3.0625rem;
  /* 49px */
  line-height: 1.4694em;
  /* 72px */
  margin-top: 0.4898em;
  margin-bottom: 0.4898em;
}

/* line 110, ../../styles/typography.scss */
h1 {
  font-size: 3.8125rem;
  /* 61px */
  line-height: 1.1803em;
  /* 72px */
  margin-top: 0.3934em;
  margin-bottom: 0.3934em;
}

/* line 118, ../../styles/typography.scss */
ul, ol {
  margin: 0;
}

/* line 131, ../../styles/typography.scss */
a, .link {
  cursor: pointer;
  color: #a31f34;
  text-decoration: none;
  line-height: 1.3em;
}

/* line 139, ../../styles/typography.scss */
a.small {
  line-height: 1.2em;
}

/* line 143, ../../styles/typography.scss */
a:hover, a:visited:hover {
  color: #c03c50;
  text-decoration: underline;
}

/* line 148, ../../styles/typography.scss */
a:visited {
  color: #811829;
}

/* line 152, ../../styles/typography.scss */
a:focus {
  outline: none;
}

/* line 156, ../../styles/typography.scss */
i, .italic {
  font-style: italic;
}

/* line 160, ../../styles/typography.scss */
.muted {
  color: #62717d;
}

/* line 164, ../../styles/typography.scss */
.muted-tint-1 {
  color: #85939f;
}

/* line 168, ../../styles/typography.scss */
.emphasis {
  color: #a31f34;
  color: #8a8b8c;
  color: #c03c50;
}

/* line 174, ../../styles/typography.scss */
.warning {
  color: #c03c50;
}

/* line 179, ../../styles/typography.scss */
.bold, .warning {
  font-weight: 600;
}

/* line 184, ../../styles/typography.scss */
.text-left {
  text-align: left;
}

/* line 188, ../../styles/typography.scss */
.text-right {
  text-align: right;
}

/* line 192, ../../styles/typography.scss */
.text-center {
  text-align: center;
}

/* line 197, ../../styles/typography.scss */
.five-section-heading {
  margin-bottom: 1.100em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecee;
}

/* line 203, ../../styles/typography.scss */
.five-section-heading__heading {
  margin-bottom: 0;
}

/* line 4, ../../styles/forms.scss */
.form-section {
  margin-bottom: 1.5rem;
}

/* line 8, ../../styles/forms.scss */
input, textarea {
  box-shadow: none;
  font-family: "ff-dagny-web-pro";
  width: 100%;
  font-size: 1rem;
  line-height: 1.5em;
  padding-top: .33em;
  padding-bottom: .33em;
  background: transparent;
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px dotted #c2c0bf;
  border-left: 0;
  transition: border-color .3s ease;
}

/* line 30, ../../styles/forms.scss */
textarea {
  min-height: 3rem;
}

/* line 34, ../../styles/forms.scss */
input:focus, textarea:focus {
  outline: none;
  border-color: rgba(163, 31, 52, 0.3);
}

/* line 39, ../../styles/forms.scss */
select {
  min-height: 8em;
}

/* line 43, ../../styles/forms.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 47, ../../styles/forms.scss */
*::-webkit-input-placeholder {
  font-family: "ff-dagny-web-pro";
  font-style: italic;
  color: #3f474e;
  line-height: 1.5em;
  opacity: .5;
}

/* line 55, ../../styles/forms.scss */
.input--search {
  background-image: url("../images/search--dark.png");
  background-position: .5em 50%;
  padding-left: 2em;
  background-size: 1em;
  background-repeat: no-repeat;
}

/* line 63, ../../styles/forms.scss */
.has-floating {
  position: relative;
}

/* line 67, ../../styles/forms.scss */
.contenteditable, input.contenteditable {
  border: 1px dotted #dce0e3;
}

/* line 71, ../../styles/forms.scss */
.contenteditable:focus {
  border: 1px dotted rgba(163, 31, 52, 0.3);
}

/* line 84, ../../styles/forms.scss */
.dropdown-select {
  position: relative;
  width: 100%;
}

/* line 89, ../../styles/forms.scss */
.dropdown-select__dropdown {
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* line 95, ../../styles/forms.scss */
.dropdown-select__dropdown__item {
  cursor: pointer;
  padding: .45em .5em;
  background: white;
}

/* line 101, ../../styles/forms.scss */
.dropdown-select__dropdown__item:hover, .dropdown-select__dropdown__item.js-on-hover {
  background-color: #f2f0e6;
}
