/* line 13, ../../styles/typography.scss */
html {
  font-size: 87.5%;
}

/* line 17, ../../styles/typography.scss */
body {
  color: #3f474e;
  font-size: 1rem;
  font-family: "ff-dagny-web-pro";
  text-rendering: optimizeLegibility;
}

/* line 24, ../../styles/typography.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  font-family: "ff-dagny-web-pro";
}

/* line 31, ../../styles/typography.scss */
p, label, .normal, .p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* line 38, ../../styles/typography.scss */
p.heading--bordered {
  line-height: 1.43em;
  border-bottom: 1px solid #eaecee;
}

/* line 43, ../../styles/typography.scss */
.small {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.8462em;
  /* 24px */
  margin-bottom: 1.8462em;
}

/* line 50, ../../styles/typography.scss */
.large {
  font-size: 1.2500rem;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 1.2000em;
  margin-bottom: 1.2000em;
}

/* line 57, ../../styles/typography.scss */
h6, .h6 {
  font-size: 1.2500rem;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 0;
  margin-bottom: 1.2000em;
}

/* line 65, ../../styles/typography.scss */
h6.heading--bordered {
  line-height: 1.4em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eaecee;
}

/* line 71, ../../styles/typography.scss */
h6.heading--bordered.small {
  line-height: 2.33em;
  border-bottom: 1px solid #eaecee;
}

/* line 77, ../../styles/typography.scss */
h5, .h5 {
  font-size: 1.5625rem;
  /* 25px */
  line-height: 1.9200em;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0.9600em;
}

/* line 84, ../../styles/typography.scss */
h4, .h4 {
  font-size: 1.9375rem;
  /* 31px */
  line-height: 1.5484em;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0.7742em;
}

/* line 91, ../../styles/typography.scss */
h4.heading--bordered {
  line-height: 1.4784em;
  border-bottom: 1px solid #eaecee;
}

/* line 96, ../../styles/typography.scss */
h3, .h3 {
  font-size: 2.4375rem;
  /* 39px */
  line-height: 1.2308em;
  /* 48px */
  margin-top: 0.6154em;
  margin-bottom: 0.6154em;
}

/* line 103, ../../styles/typography.scss */
h2, .h2 {
  font-size: 3.0625rem;
  /* 49px */
  line-height: 1.4694em;
  /* 72px */
  margin-top: 0.4898em;
  margin-bottom: 0.4898em;
}

/* line 110, ../../styles/typography.scss */
h1 {
  font-size: 3.8125rem;
  /* 61px */
  line-height: 1.1803em;
  /* 72px */
  margin-top: 0.3934em;
  margin-bottom: 0.3934em;
}

/* line 118, ../../styles/typography.scss */
ul, ol {
  margin: 0;
}

/* line 131, ../../styles/typography.scss */
a, .link {
  cursor: pointer;
  color: #a31f34;
  text-decoration: none;
  line-height: 1.3em;
}

/* line 139, ../../styles/typography.scss */
a.small {
  line-height: 1.2em;
}

/* line 143, ../../styles/typography.scss */
a:hover, a:visited:hover {
  color: #c03c50;
  text-decoration: underline;
}

/* line 148, ../../styles/typography.scss */
a:visited {
  color: #811829;
}

/* line 152, ../../styles/typography.scss */
a:focus {
  outline: none;
}

/* line 156, ../../styles/typography.scss */
i, .italic {
  font-style: italic;
}

/* line 160, ../../styles/typography.scss */
.muted {
  color: #62717d;
}

/* line 164, ../../styles/typography.scss */
.muted-tint-1 {
  color: #85939f;
}

/* line 168, ../../styles/typography.scss */
.emphasis {
  color: #a31f34;
  color: #8a8b8c;
  color: #c03c50;
}

/* line 174, ../../styles/typography.scss */
.warning {
  color: #c03c50;
}

/* line 179, ../../styles/typography.scss */
.bold, .warning {
  font-weight: 600;
}

/* line 184, ../../styles/typography.scss */
.text-left {
  text-align: left;
}

/* line 188, ../../styles/typography.scss */
.text-right {
  text-align: right;
}

/* line 192, ../../styles/typography.scss */
.text-center {
  text-align: center;
}

/* line 197, ../../styles/typography.scss */
.five-section-heading {
  margin-bottom: 1.100em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecee;
}

/* line 203, ../../styles/typography.scss */
.five-section-heading__heading {
  margin-bottom: 0;
}

/* line 3, ../../styles/loader.scss */
.has-loader {
  position: relative;
  min-height: 7.5em;
}

/* line 8, ../../styles/loader.scss */
.loader {
  margin: 1.5rem auto;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #a31f34;
  background: -moz-linear-gradient(left, #a31f34 10%, #a31f34 42%);
  background: -webkit-linear-gradient(left, #a31f34 10%, #a31f34 42%);
  background: -o-linear-gradient(left, #a31f34 10%, #a31f34 42%);
  background: -ms-linear-gradient(left, #a31f34 10%, #a31f34 42%);
  background: linear-gradient(to right, #a31f34 10%, #a31f34 42%);
  position: absolute;
  left: 50%;
  margin-left: -2.5em;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}

/* line 26, ../../styles/loader.scss */
.loader:before {
  width: 50%;
  height: 50%;
  background: #Fefefe;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

/* line 36, ../../styles/loader.scss */
.loader:after {
  background: #fefefe;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  /* line 50, ../../styles/loader.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 54, ../../styles/loader.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  /* line 60, ../../styles/loader.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 64, ../../styles/loader.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
