/* line 13, ../../styles/typography.scss */
html {
  font-size: 87.5%;
}

/* line 17, ../../styles/typography.scss */
body {
  color: #3f474e;
  font-size: 1rem;
  font-family: "ff-dagny-web-pro";
  text-rendering: optimizeLegibility;
}

/* line 24, ../../styles/typography.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  font-family: "ff-dagny-web-pro";
}

/* line 31, ../../styles/typography.scss */
p, label, .normal, .p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* line 38, ../../styles/typography.scss */
p.heading--bordered {
  line-height: 1.43em;
  border-bottom: 1px solid #eaecee;
}

/* line 43, ../../styles/typography.scss */
.small {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.8462em;
  /* 24px */
  margin-bottom: 1.8462em;
}

/* line 50, ../../styles/typography.scss */
.large {
  font-size: 1.2500rem;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 1.2000em;
  margin-bottom: 1.2000em;
}

/* line 57, ../../styles/typography.scss */
h6, .h6 {
  font-size: 1.2500rem;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 0;
  margin-bottom: 1.2000em;
}

/* line 65, ../../styles/typography.scss */
h6.heading--bordered {
  line-height: 1.4em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eaecee;
}

/* line 71, ../../styles/typography.scss */
h6.heading--bordered.small {
  line-height: 2.33em;
  border-bottom: 1px solid #eaecee;
}

/* line 77, ../../styles/typography.scss */
h5, .h5 {
  font-size: 1.5625rem;
  /* 25px */
  line-height: 1.9200em;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0.9600em;
}

/* line 84, ../../styles/typography.scss */
h4, .h4 {
  font-size: 1.9375rem;
  /* 31px */
  line-height: 1.5484em;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0.7742em;
}

/* line 91, ../../styles/typography.scss */
h4.heading--bordered {
  line-height: 1.4784em;
  border-bottom: 1px solid #eaecee;
}

/* line 96, ../../styles/typography.scss */
h3, .h3 {
  font-size: 2.4375rem;
  /* 39px */
  line-height: 1.2308em;
  /* 48px */
  margin-top: 0.6154em;
  margin-bottom: 0.6154em;
}

/* line 103, ../../styles/typography.scss */
h2, .h2 {
  font-size: 3.0625rem;
  /* 49px */
  line-height: 1.4694em;
  /* 72px */
  margin-top: 0.4898em;
  margin-bottom: 0.4898em;
}

/* line 110, ../../styles/typography.scss */
h1 {
  font-size: 3.8125rem;
  /* 61px */
  line-height: 1.1803em;
  /* 72px */
  margin-top: 0.3934em;
  margin-bottom: 0.3934em;
}

/* line 118, ../../styles/typography.scss */
ul, ol {
  margin: 0;
}

/* line 131, ../../styles/typography.scss */
a, .link {
  cursor: pointer;
  color: #a31f34;
  text-decoration: none;
  line-height: 1.3em;
}

/* line 139, ../../styles/typography.scss */
a.small {
  line-height: 1.2em;
}

/* line 143, ../../styles/typography.scss */
a:hover, a:visited:hover {
  color: #c03c50;
  text-decoration: underline;
}

/* line 148, ../../styles/typography.scss */
a:visited {
  color: #811829;
}

/* line 152, ../../styles/typography.scss */
a:focus {
  outline: none;
}

/* line 156, ../../styles/typography.scss */
i, .italic {
  font-style: italic;
}

/* line 160, ../../styles/typography.scss */
.muted {
  color: #62717d;
}

/* line 164, ../../styles/typography.scss */
.muted-tint-1 {
  color: #85939f;
}

/* line 168, ../../styles/typography.scss */
.emphasis {
  color: #a31f34;
  color: #8a8b8c;
  color: #c03c50;
}

/* line 174, ../../styles/typography.scss */
.warning {
  color: #c03c50;
}

/* line 179, ../../styles/typography.scss */
.bold, .warning, .nav-link.js-selected {
  font-weight: 600;
}

/* line 184, ../../styles/typography.scss */
.text-left {
  text-align: left;
}

/* line 188, ../../styles/typography.scss */
.text-right {
  text-align: right;
}

/* line 192, ../../styles/typography.scss */
.text-center {
  text-align: center;
}

/* line 197, ../../styles/typography.scss */
.five-section-heading {
  margin-bottom: 1.100em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecee;
}

/* line 203, ../../styles/typography.scss */
.five-section-heading__heading {
  margin-bottom: 0;
}

/* line 5, ../../styles/nav.scss */
.nav-pane__crosslinks-logo {
  margin-bottom: 3rem;
  width: 133px;
  height: 102px;
}

/* line 11, ../../styles/nav.scss */
.nav-link {
  line-height: 1.5em;
  display: block;
  transition: all .3s ease;
}

/* line 23, ../../styles/nav.scss */
.nav-bar {
  position: absolute;
  top: 0em;
  left: 0;
  width: 100%;
  background-color: rgba(253, 251, 246, 0.5);
  padding: 0.75rem 1em;
}
@media all and (min-width: 1065px) {
  /* line 23, ../../styles/nav.scss */
  .nav-bar {
    display: none;
  }
}

/* line 35, ../../styles/nav.scss */
.nav-bar__logo {
  height: 21px;
}

/* line 39, ../../styles/nav.scss */
.nav-bar__button-menu {
  width: 50px;
  margin-right: 1em;
}

/* line 45, ../../styles/nav.scss */
.nav-bar__search {
  flex: 1;
}

/* line 49, ../../styles/nav.scss */
.nav-bar__nav-links {
  width: 100%;
  padding-top: 1.5em;
  position: absolute;
  top: 3em;
  left: 0;
  z-index: 2;
  background-color: #f2f0e6;
}
