@import '../common/styles/variables.scss';

.topic-list .course-list {
	border: 1px solid $mit-red;
	padding-right: 1em;
	padding-top: 1.5em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

.topic-list .course-list__item {
	float: left;
	width: 8em;
	margin-bottom: 1em;
}

.topic-list .subject-group-wrapper {
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap
}

.topic-list .subject-group {
	padding-left: 1em;
	width: 250px;
}

.topic-list .topic {
	line-height: 1.5;
	margin-bottom: .75em;
}

.topic-list .topics {
	margin-bottom: 3em;
}

.global-vis-wrapper-parent {
	position: relative;
}

.topic-list .global-vis-wrapper {
	position: absolute;
	top: 25em;
	right: -3.6%;
	width: 535px;
	height: 380px;
	z-index: 2;
	-ms-transform: translateZ(0); /* IE 9 */
	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
	transform: translateZ(0);
	@media all and (max-width: $breakpoint--medium) {
		display: none;
	}
}

.topic-list .global-vis-component {
	width: 100%;
	height: 100%;
	min-height: 350px;
	background: #feffff;
}

.topic-list .global-vis {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.topic-list .global-vis-title {
	font-size: 0.8125rem; /* 13px */
	line-height: 1.8462em; /* 24px */
	margin-bottom: .75em;
}

.global-vis-wrapper .gray-dot {
	margin-left: 2em;
}

.red-dot::before, .gray-dot::before {
	content: '';
	border-radius: 50%;	
	height: 10px;
	width: 10px;
	display: inline-block;
	margin-right: .5em;
}

.red-dot::before {
	background: #A31F34;
}

.gray-dot::before {
	background: #c9c9c9;
}
