
.five-section-topic-list__topic__link {
        display: inline-block;
        margin-bottom: 1.7em;   
}    

.five-section-topic-list, .five-section-resource-list {
        list-style: none;
        padding-left: 0;        
}  
